<!DOCTYPE html>
<html ng-app="ProductsApp" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>პროდუქტის დამატება</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.13.1.min.js"></script>

    @*<script src="~/Scripts/useful-functions.js"></script>*@
    <style type="text/css">
        #product:hover {
            -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
        }
    </style>
    <script src="~/Scripts/app.js"></script>
</head>
<body ng-controller="ProductsController" style="background-color: #f3f3f3;">
    <div id="toScrollFocus" class="container-fluid" style="padding-top: 30px; padding-bottom: 20px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">           
            <div class="form-inline" style="width: 100%; margin-bottom: 20px;">
                <input class="form-control form-group" placeholder="ძებნა..." style="width: 93%;" ng-model="searchFragment" ng-change="GetProducts()" autofocus />
                <a class="btn btn-default form-group" style="float: right;" ng-click="GetProducts()"><i class="fa fa-search"></i></a>
            </div>

            <div style="margin-bottom: 60px; border: 1px solid #aaaaaa; background-color: #fff; padding: 0 15px 15px 15px; border-radius: 5px;">
                <input ng-hide="true" id="inputFileToLoad" type="file" accept="image/*" onchange="loadImageToBase64DataURL();" />
                <h4 style="margin-top: 20px;">პროდუქტის დამატება</h4>
                <a class="btn btn-danger" href="/Account/Logout" style="float: right; margin-top: -35px;"><i class="fa fa-close"></i> გასვლა</a>
                <hr />
                <img id="productImage" width="150" height="150" src="" style="margin-bottom: 8px; border: 1px solid #b7b5b5;" />
                <br />
                <a class="btn btn-default" ng-click="OpenImageUpload()"><i class="fa fa-image"></i> სურათი</a>
                <hr />
                <textarea ng-model="Description" class="form-control" rows="5" style="resize: vertical; margin-top: 10px; margin-bottom: 8px;" placeholder="აღწერა..."></textarea>
                <input ng-model="Amount" type="number" style="width: 200px;" class="form-control" placeholder="ღირებულება" />
                <a class="btn btn-primary" style="margin-top: 15px;" ng-click="SaveProduct()"><i class="fa fa-save"></i> შენახვა</a>
            </div>

            <div id="product" ng-repeat="product in products" style="border: 1px solid #aaaaaa; border-radius: 5px; width: 100%; margin-bottom: 20px; padding: 10px; background-color: #fff;">
                <a class="btn btn-danger" style="float: right; width: 130px;" ng-click="DeleteProduct(product)"><i class="fa fa-trash"></i> წაშლა</a>
                <a class="btn btn-warning" href="#toScrollFocus" style="float: right; margin-right: 10px; width: 130px;" ng-click="EditProduct(product)"><i class="fa fa-pencil"></i> რედაქტირება</a>
                <p>
                    <img style="border: 1px solid #b7b5b5;" width="150" height="150" ng-src="{{product.Image}}" />
                </p>
                <p>
                    <b>აღწერა:</b> {{product.Description}}
                </p>
                <p style="text-align: right; margin-top: 15px;">
                    <b>ფასი:</b> {{product.Amount}} ლარი
                </p>
            </div>

            <pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
        <div class="col-md-3"></div>
    </div>
</body>
</html>