<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>მომსახურება</title>
    <script src="~/assets/js/language_changer.js"></script>
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <link href="~/assets/css/simple-line-icons.css" rel="stylesheet" media="screen" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" media="screen" />
    <script src="~/assets/js/modernizr.custom.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~/assets/engine/style.css" />*@
    <script type="text/javascript" src="~/assets/engine/jquery.js"></script>
    @*<link href="~/styles.css" rel="stylesheet" />*@
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #f8f8f8;">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index" style="color: #444;"><img src="~/Images/ikaaa.png" width="45" height="45" style="margin-top: -12px;" /></a>
            
            <ul class="nav navbar-nav">
                <li><a href="/Home/Services">საკანცელარიო</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">მომსახურება <span class="caret"></span></a>
                    <ul class="dropdown-menu">                        
                        <li><a href="#cartriges">კარტრიჯები</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#web">Web</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#windows">Windows ინსტალაცია</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#ling">ლინგვისტიკა</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#network">ქსელის მონტაჟი</a></li>
                    </ul>
                </li>
                <li><a href="#contact">კონტაქტი</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="home"></div>
        <div id="preloader">
            <div id="status"></div>
        </div>
        <header class="header">
            @*<nav class="navbar navbar-custom" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/Home/Index"><img class="navbar-brand" src="~/Images/logoo.png" /></a>
                        </div>
                        <div class="collapse navbar-collapse" id="custom-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#inglisuri">ინგლისური</a></li>
                                <li><a href="#resuli">რუსული</a></li>
                                <li><a href="#germanuli">გერმანული</a></li>
                                <li><a href="#franguli">ფრანგული</a></li>
                                <li><a href="#contact">კონტაქტი</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>*@
        </header>


        <section id="main" style="margin-top: 70px;">
            <h3 style="text-align: center;">გაიმარტივე შენი ცხოვრება!</h3>
            <h4 style="text-align: center; color: blue;">NM აწესებს ფასდაკლებას მუდმივი კლიენტებისთვის, მე-3 შეკვეთიდან მოქმედებს 10% ფასდაკლება</h4>


            <p><a name="cartriges" id="cartriges"></a></p><br /><br />
            <h2>1.კარტრიჯები:</h2>
            <h3>ისწავლეთ ინგლისური ენა სწრაფად და ადვილად!</h3>
            <p class="col2">სასწავლო ცენტრმა ILC ინგლისური ენის მასწავლებლად მოიწვია ამერიკელი პედაგოგი. სწავლების მიმართულება: საერთაშორისო გამოცდებისთვის (FCE ,TOEFL, IELTS) მომზადება; აკადემიური ინგლისური ენა და ლიტერატურა; ინგლისური ენის სპეციალისტების კვალიფიკაციის ამაღლება; საერთასშორისო იურიდიული და ბიზნეს ინგლისური; საბანკო საქმე და ფინანსები; გაყიდვები და მარკეტინგი; საერთაშორისო სამართალი; ადმინისტრაციული სამართალი; იურიდიული/ტექნიკური წერა; ჯოშუა ჯოზეფ სტოველს აქვს პედაგოგიური განათლება (ინგლისური ენა და კომუნიკაციები, დამთავრებული აქვს პენსილვანიის კალიფორნიის ინსტიტუტი, M.S. სამართალი, საჯარო პოლიტიკა (ადმინისტრაციული სამართალი). როგორც ინგლისური ენის მაღალკვალიფიციურ პედაგოგს გააჩნია მრავალწლიანი გამოცდილება, ინგლისური ენის სწავლების სფეროში. ის მიწვეული იყო სხვადასხვა ქვეყნებში ,როგორც ინგლისური ენის სპეციალისტი. თანამშრომლობდა ოქსფორდის უნივერსიტეტთან. საქართველოში ის თანამშრომლობს წამყვან უმაღლეს სასწავლებლებთან. </p>
            <p>ერთი თვის სასწავლო გადასახადი:</p>
            <p align="right"><font color="#ff0000">კვირაში 2-ჯერ (8 გაკვ. თვეში) ჯგუფში 80 ლარი, წყვილში 100 ლარი.</font></p>
            <p><a name="web" id="web"></a></p><br /><br />
            <h2>2.Web</h2>
            <h3>ისწავლეთ რუსული ენა სწრაფად და ადვილად!</h3>

            <p class="col2">
                იზრდება ბიზნესურთიერთობების რიცხვი რუსულენოვან პარტნიორებთან, შესაბამისად, თანამედროვე შრომით ბაზარზე იზრდება მოთხოვნა რუსული ენის მცოდნე კადრებზე. გაზარდეთ თქვემი კონკურენტუნარიანობა, დაეუფლეთ რუსულ ენას ხელმისაწვდომ ფასად .

                ILC სასწავლო ცენტრში რუსულ ენას ეუფლებიან ნებისმიერი დონისა და ასაკის მსურველები. მასწავლებლად მოწვეულია პროფესიონალი პედაგოგი. სწავლა მიმდინარეობს თანამედროვე სახელმძღვანელოებისა და მეთოდების გამოყენებით. ძირითადი სახელმძღვანელოების გარდა მსმენელებს გარკვეულ დონეზე ეძლევათ დამატებითი ლიტერატურა. კურსის განმავლობაში გაიმდიდრებთ ლექსიკას, დაეუფლებით გრამატიკას, გაიუმჯობესებთ მოსმენა-აღქმის უნარ-ჩვევას, და რაც მთავარია, დროის მოკლე მონაკვეთში ისწავლით საუბარს.
            </p>
            <p>ერთი თვის სასწავლო გადასახადი:</p>
            <p align="right"><font color="#ff0000">კვირაში 2-ჯერ (8 გაკვ. თვეში) ჯგუფში 80 ლარი, წყვილში 100 ლარი.</font></p>
            <p><a name="windows" id="windows"></a></p><br /><br />
            <h2>3.Windows ინსტალაცია:</h2>
            <h3>ისწავლეთ გერმანული ენა სწრაფად და ადვილად!</h3>
            <p class="col2">
                ILC გიწვევთ გერმანული ენის შემსწავლელ კურსებზე: მოსწავლეებს, აბიტურიენტებს, მაგისტრატურაში გამოცდების ჩაბარების მსურველებს, დიპლომირებულ და მომავალ ექიმებს, ეკონომიკის სფეროში დასაქმებულებს. შეისწავლეთ გერმანული ენა სხვადასხვა მიზნობრივი დანიშნულებისთვის.

                კურსს უძღვებიან გამოცდილი და მაღალკვალიფიციური პედაგოგები. პედაგოგად მოწვეულია ჰაინრიხ ჰაინეს სახელობის დიუსელდორფის უნივერსიტეტის კურსდამთავრებული, ზოგადი, ეკონომიკური და სამედიცინო გერმანული ენის სპეციალისტი, რომელმაც პედაგოგად მუშაობის გამიცდილება მიიღო დუსელდორფის სახალხო უნივერსიტეტში.
            </p>
            <p align="center"><h4>ზოგადი გერმანული ენის კურსი</h4></p>

            <p><font color="#ff0000">კურსი განკუთვნილია ნებისმიერი ასაკის მსურველთათვის. სწავლა წარმოებს დონეების მიხედვით:</font></p>
            <div class="class1"><h5>1. საწყისი დონე:Grundstufe: A1; A2.</h5> განკუთვნილია მათთვის ვინც თავიდან იწყებს გერმანულის სწავლას. ამ დონეზე უმოკლეს ვადაში შეიძენთ ზეპირი და წერითი მეტყველების საბაზისო უნარებს.გაიმდიდრებთ ლექსიკას, ისაუბრებთ მარტივ სასაუბრო თემებზე.</div><br><br>
            <div class="class1"><h5>2. საშუალო დონე: Mittelstufe: B1; B2.</h5>ენის სწავლების ძირითადი საფეხურია. გაიმდიდრებთ ლექსიკას, დაეუფლებით გრამატიკის დიდ ნაწილს, თავისუფლად და დაუბრკოლებლად ისაუბრებთ ნებისმიერ თემებზე. შეძლებთ სხვადასხვა სირთულის ლიტერატურის და სტატიების წაკითხვას და აღქმას. ამ დონის შემდეგ შესაძლებელია დაიწყოთ ენის დაუფლება პროფესიული მიმართულებებით.შეძლებთ სხვადასხვა სირთულის ლიტერატურის და სტატიების წაკითხვას და აღქმას. ამ დონის შემდეგ შესშეძლებთ სხვადასხვა სირთულის ლიტერატურის და სტატიების წაკითხვას და აღქმას. ამ დონის შემდეგ შესშეძლებთ სხვადასხვა სირთულის ლიტერატურის და სტატიების წაკითხვას და აღქმას. ამ დონის შემდეგ შესშეძლებთ სხვადასხვა სირთულის ლიტერატურის და სტატიების წაკითხვას და აღქმას. ამ დონის შემდეგ შესშეძლებთ სხვადასხვა სირთულის ლიტერატურის და სტატიების წაკითხვას და აღქმას. ამ დონის შემდეგ შესშეძლებთ სხვადასხვა სირთულის ლიტერატურის და სტატიების წაკითხვას და აღქმას. ამ დონის შემდეგ შესშეძლებთ სხვადასხვა სირთულის ლიტერატურის და სტატიების წაკითხვას და აღქმას. ამ დონის შემდეგ შეს </div><br><br>
            <div class="class1"><h5>3. პროფესიული დონე: Oberstufe: C1- C2.</h5>ხდება სამეტყველო ენის დახვეწა, შეისწავლება პროფესიონალურ დონეზე გერმანულად საუბარი, რთული სამეცნიერო ტერმინოლოგიის დაძლევა, ნებისმიერი დიალოგისა და ტექსტის თარგმნა. შეძლებთ სწრაფად საუბარს, რთული და მოცულობითი ტექსტების აღქმა-გაგებას. </div>
            <p>ერთი თვის სასწავლო გადასახადი:</p>
            <p align="right"><font color="#ff0000">კვირაში 2-ჯერ (8 გაკვ. თვეში) ჯგუფში 80 ლარი, წყვილში 100 ლარი.</font></p>
            <p><a name="ling" id="ling"></a></p><br /><br />
            <h2> 4.ლინგვისტიკა:</h2>
            <p class="col2">
                <div class="col-md-4">
                    <ul style="margin-left: 30px;">
                        <li>მხატრული თარგმანი: 8 ლარი / გვერდი</li>
                        <li>სპეციფიკური ლექსიკა: 12 ლარი / გვერდი</li>
                        <li>საბუთების თარგმნა: 10 ლარი / გვერდი</li>
                        <li>ნოტარიულად დამოწმება: 14 ლარი / გვერდი</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <ul>
                        <li>მიმდევრობითი თარგმანი: 10 ლარი / 3საათი   80 ლარი / სრული დღე</li>
                        <li>სინქრონული თარგმანი: 25 ლრი / საათი 200 ლარი / სრული დღე</li>
                        <li>დელეგირება: 150 ლარი / დღე საქართველოს მაშტაბით, 300 ლარი / დღე მსოფლიოს მაშტაბით</li>
                        <li>ტექსტის აკრეფა: 1 ლარი / გვერდი (მინიმუმ 5 გვერდი)</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <ul style="margin-left: 25px;">
                        <li>სამეცნიერო ნაშრომების რედაქტირება: 5 ლარი / გვერდი</li>
                        <li>CV, საქმიანი საბუთები: 5 ლარი/ საბუთი</li>
                        <li>სერტიფიკატების, დიპლმების მოდელირება: 8 ლარი/საბუთი</li>
                    </ul>
                </div>
            </p>

            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />

            <p><a name="network" id="network"></a></p><br /><br />
            <h2> 5.ქსელის მონტაჟი:</h2>
            <h3>ისწავლეთ ფრანგული ენა სწრაფად და ადვილად!</h3>
            <p class="col2">ფრანგული ენის კურსი ითვალისწინებს </h5>ფრანგული ენის ცოდნის გაღრმავებას ევროპის სარეკომენდაციო საბჭოს მიერ დადგენილი დონეების მიხედვით. იგი აწვდის მასალებს ქვეყანათმცოდნეობის, ყოველდღიური რეალიების, ღირებულებების, ტრადიციების, ზნე-ჩვეულებების, სოციო-კულტურული თავისებურებების შესახებ. </p>
            <p>კურსი აგებულია ენის სწავლების ახლებური და თანამედროვე მეთოდებით, ტექნიკურად <h5>აღჭურვილი მაღალი დონის აუდიტორიებით.</h5>იგი სთავაზობს ცალკეული სამეტყველო უნარ-ჩვევების განმავითარებელ ენობრივი კომპეტენციის ასამაღლებელ სხვადასხვა მოდულს, რაც სასურველი მიმართულებით ცოდნის გაღრმავების შესაძლებლობას იძლევა. </p>
            <p>კურსებს ხელმძღვანელობენ საქართველოსა და უცხოურ ქვეყნებში მომუშავე პროფესორები, მაღალკვალიფიციური უცხოელი და ქართველი სპეციალისტები.</p>
            <p>კურსის გასავლელად<h5>სავალდებულოა ენის დონის დამადასტურებული ტესტირების გავლა.</h5>  კურსებზე ჩარიცხვა ტესტირების შედეგებიდან გამომდინარე მოხდება შესაბამისი ენის დონის მიხედვით. ტესტირებისთვის წინასწარი რეგისტრაცია იწარმოებს საქართველოს უნივერსტეტში.</p>
            <p>ტესტირების ხანგრძლივობა არის მაქსიმუმ 30 წუთი. რისი გავლის შემდეგაც მსურველი<h5>გაიგებს საკუთარ ენობრივ დონეს.</h5>ვისაც ტესტირება ადრე აქვს გავლილი და ამის შესაბამისი მოწმობა გააჩნია, ისინი განთავისუფლდებიან ტესტირებისგან.</p>
            <p>ერთი თვის სასწავლო გადასახადი:</p>
            <p align="right"><font color="#ff0000">კვირაში 2-ჯერ (8 გაკვ. თვეში) ჯგუფში 80 ლარი, წყვილში 100 ლარი.</font></p>
        </section>
    </div>

    <footer id="footer">
        <div class="container">
            <p><a name="contact" id="contact"></a></p><br /><br />
            (+995)&nbsp557 70-12-02<br />
            (+995)&nbsp574 17-68-05<br /><br />
            <div class="row">
                <div class="col-sm-12">
                    <ul class="social-links">
                        <li class="fb"><a href="index.html#" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
                        <li class="tw"><a href="index.html#" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
                        <li class="gp"><a href="index.html#" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <center><img class="footer-banner" /></center><br />
                    <p class="copyright">
                        NM © 2015 - @DateTime.Now.Year
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>
    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.parallax-1.1.3.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>
    <script src="~/assets/js/smoothscroll.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.cbpQTRotator.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/typed.js"></script>
</body>
</html>